@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #181719;
  color: white;
}

.nav__main {
  margin: 10px 0;
  /* -webkit-box-shadow: 0px 1px 9px 0px rgba(60, 60, 28, 0.2);
  -moz-box-shadow: 0px 1px 9px 0px rgba(60, 60, 28, 0.2);
  box-shadow: 0px 1px 9px 0px rgba(60, 60, 28, 0.2); */
  background-color: #181719;
  width: auto;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.nav-items li {
  border-radius: 3px;
  margin: 0 5px;
}
.nav-items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.nav-items li:hover,
li.active {
  background-color: #181719;
  transition: 0.4s;
}
.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}
ul.show {
  top: 65px;
}
.backg {
  display: none;
}

.item-title {
  border-style: solid;
  border-width: 2px;
  padding: 8px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 200;
  font-family: "Crimson Pro", serif;
  margin-left: 60px;
}
.main-page {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 100px;
  min-height: 100vh;
  
}

.container-img {
  height: 100%;
  position: relative;
}

.img-container-black {
  width: 62.2px;
  height: 52.68px;
  padding: 0 10px;
  margin-top: 10px;
}
.img-container-black img {
  border-radius: 50%;
}

.container-information {
  margin-right: 80px;
}
.container-information h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Lora", sans-serif;
  margin: 0 0 0 15px;
}
.p-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;

  margin: 25px 0 25px 10px;
  width: 250px;
  letter-spacing: 2;
}
.read-more {
  margin-left: 10px;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.name-personal {
  justify-self: flex-start;
}
span {
  display: inline-block;
  width: 17px;
  height: 7px;
}

img {
  width: 100%;
  height: auto;
}
.container-black {
  width: 280px;
  height: 120px;
  background-color: #181719;
  position: absolute;
  bottom: -60px;

  right: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  place-items: center;

  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: auto;
  gap: 6px 0px;
  grid-template-areas:
    ". ."
    "d d";
}

.desing {
  grid-area: d;
  font-size: 18px;
  width: 220px;
  align-self: flex-start;
  margin-bottom: 2px;
}
.img-container {
  width: 600px;

  padding-right: 20px;
}

@media screen and (max-width: 952px) {
  .nav-items li a {
    font-size: 16px;
  }
  .img-container {
    width: 700px;
  }
}

@media screen and (max-width: 858px) {
  .main-page {
    flex-direction: column;
    margin: 0;
  }
  footer {
    margin-top: 20px;
    text-align: center;
  }
  .img-container {
    width: 100%;
    padding: 0 10px;
  }
  .container-information {
    height: 50%;
    margin-top: 25px;
    margin-right: 0;
  }
  .btn_menu {
    display: inline-flex;
  }
  .nav-items {
    position: absolute;
    width: 100%;
    height: calc(100% - 35px);
    background: #181719;
    top: -100%;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
  }
  .nav_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .nav_items li:hover {
    background: none;
  }
  .nav_items li a {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .nav_items li a:hover {
    color: #e9183b;
  }
  .item-title {
    margin-left: 10px;
  }
}
